.CreateUser {
  border: 1px solid black;
  border-radius: 10px;
  min-width: 300px;
  min-height: 520px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: white;
  margin-top: 50px;
  padding-top: 5vh;
}

.header {
  font-weight: bold;
  font-size: 2rem;
}

.login-link {
  text-decoration: none;
  font-weight: bold;
  color: #a23cf6;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: fit-content;
  gap: 10px;
}

.cr-label {
  margin-bottom: 0;
}

input:focus {
  outline: none;
}

.pwd-input {
  border: 1px solid gray;
}

.pwd-validation-checks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.pwd-validation {
  margin: 0;
}

.pwd-description {
  font-weight: bold;
}

.error-message {
  color: red;
  height: 1.5rem;
}
